<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <img src = "https://terpconnect.umd.edu/~jbono/bmgt407/images/smith-logo.png"
    width = "267" height = "72" alt = "Smith Logo">

    <h1><strong>My favorite foods</strong></h1>
    <p><em>below is a list of some of my favorite foods around the world, in no specific order</em></p>

    <ul>

        <li>sushi</li>
        <li>pizza</li>
        <li>burgers</li>
    </ul>

    <h2><strong>My least favorite foods</strong></h2>

    <p><em>below is a list of my least favorite foods, in a specific order</em></p>

    <ol>
        <li>eggplant</li>
        <li>slime</li>
        <li>goo</li>
    </ol>

    <table>
        <tr>
            <th>this is a list of my courses:</th>
        </tr>
        <tr>
            <th>BMGT 407</th>
        </tr>
        <tr>
            <th>BMGT 457</th>
        </tr>
        <tr>
            <th>BMGT 400</th>
        </tr>
    </table>
        <!-- this is a relative hyperlink to my hellowWorld html page using a flask route. -->
        <p>a link to <a href = "/hello">my helloWorld page</a></p>
        <!-- these are two links to my favorite sites -->
        <p>a link to <a href = "https://google.com/">Google</a></p>
        <p>a link to <a href = "https://rhsmith.umd.edu/">Smith School</a></p>
        <!-- this is a forced tab link for amazon-->
        <p>a link to <a href = "https://amazon.com/" target = "_blank">Amazon force tab</a>
</p>
</body>
</html>