<!DOCTYPE html>
<html lang="en">

{% extends "base.html" %}

{% block title %}
Contact
{% endblock %}

{% block content %}

<h1>Contact</h1>
<p><strong>Name:</strong> David Kim </p>

{% if submitted %}

<div class="alert alert-success">
    Thank you for completing the form.
</div>

<p>
    <span class="fw-bold">First Name:</span> {{ first_name }}
</p>
<p>
    <span class="fw-bold">Last Name:</span> {{ last_name }}
</p>
<p>
    <span class="fw-bold">Email Address:</span> {{ email }}</p>
<p>
    <span class="fw-bold">Class Year:</span> {{ class_year }}
</p>

<a href="/contact" class="btn btn-primary">Submit Response Again</a>

{% else %}

<form method ="POST" action ="/contact">

<div class = "mb-3">
<label class = "form-label">First Name</label>
<input type = "text" name = "first_name">
</div>

<div class = "mb-3">
<label class = "form-label">Last Name</label>
<input type = "text" name = "last_name">
</div>

<div class = "mb-3">
<label class = "form-label">Email Address</label>
<input type = "email" name = "email">
</div>

<div class = "mb-3">
<label class = "form-label">Class Year</label>
<input type = "text" name = "class_year">
</div>

<button type = "submit" class = "btn btn-primary">Submit</button>

</form>

{% endif %}

{% endblock %}

</html>

